<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../csss/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../csss/htmleaf-demo.css">
		<link rel="stylesheet" href="../../csss/pages.css">
		<link rel="stylesheet" type="text/css" href="../../csss/th_td.css">
		<link rel="stylesheet" href="../../csss/input.css">
	</head>
	<body>
<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<center>
	<br /><br /><br /><br /><br /><br />
	<div id="queryMa">
	<input class="inputText4" type="text" id="Validate" name="Validate" v-model="fenYe.mangerName" placeholder="请输入管理员名称"  />&nbsp;&nbsp;&nbsp;
	<a @click="queryAllMangerByLike()"><button class="button blue">搜索</button></a><br /><br />
	<a href="http://10.1.12.66:8086/client/html/gu/zengjiaguanliyuan.html"><button class="button blue">增加管理员</button></a>	<br><br>
<!-- Table goes in the document BODY -->
		<table class="hovertable">
		<tr>
			<th>用户名</th>
			<th>密码</th>
			<th>联系电话</th>
			<th>用户角色</th>
			<th>修改</th>
			<th>删除</th>
		</tr>
		<tr v-for="mangerRole in mangerRoles"  onmouseover="this.style.backgroundColor='#3875D7';" onmouseout="this.style.backgroundColor='#122B40';">
			<td>{{mangerRole.mangerName}}</td>
			<td>{{mangerRole.mPassword}}</td>
			<td>{{mangerRole.mPhone}}</td>
			<td>{{mangerRole.role}}</td>
			<td><a :href="'http://10.1.12.66:8086/client/html/gu/xiugaiguanliyuan.html?id='+mangerRole.id"  target="page"><button class="button blue">修改</button></a></td>
			<td><a @click="updateManger(mangerRole.id)"  target="page"><button class="button blue">删除</button></a></td>
		</tr>
		</table>
		<button class="button blue" @click="queryAllMangerByLike(fenYe.page-1)">上一页</button>&nbsp;当前第{{fenYe.page}}页<button class="button blue" @click="queryAllMangerByLike(fenYe.page+1)">下一页</button>&nbsp;总共{{i}}页
	</div>
<center>
	<script type="text/javascript" src="../../jss/vuejs-2.5.16.js"></script>
	<script type="text/javascript" src="../../jss/axios-0.18.0.js"></script>
	<!-- <script type="text/javascript" src="../../js/main.js"></script> -->
	<script type="text/javascript">
	new Vue({
		   el:"#queryMa",
		   data:{
			   i:'',
			   mangerRoles:[
		     {
		    	 id:'',
		    	 mangerName:'',
		    	 mPassword:'',
		    	 mPhone:'',
		    	 role:''
		     }
		    ],
		    fenYe:
		     {
		    	 page:1,
		    	 mangerName:'',
		     }
		   },
		   methods:{
			   queryAllMangerByLike:function(event){
		     var _this=this;
		     if(event<=1){
		    	 this.fenYe.page=1;
		     }
		     if(event>1){
		    	 this.fenYe.page=event;
		     }
		     if(event>=this.i){
		    	 this.fenYe.page=this.i;
		     }
		     axios.post("http://10.1.12.66:8086/client/gu/queryAllMangerByLike",_this.fenYe)
		     .then(function(response){
		    	 if(_this.fenYe.page==1){
		    		   _this.i=response.data.i;
		    	   }
		      _this.mangerRoles=response.data.mangerRoles;
		      console.log(response);
		     })
		    },
		   updateManger:function(id){
			   	var _this=this;
			   	var r = confirm("确定删除?")
				if (r == true) {
					axios.get("http://10.1.12.66:8086/client/gu/updateManger",{params:{id:id}})
				     .then(function(response){
				      _this.manger=response.data.manger;
				      console.log(_this.manger);
				      window.location.href='http://10.1.12.66:8086/client/html/gu/guanlirenyuan.html'
				     })
				} else {
					window.location.href='http://10.1.12.66:8086/client/html/gu/guanlirenyuan.html'
				}
			    }
		   },
		   created:function(){
		    this.queryAllMangerByLike();
		   },
		 })
		function GetQueryString(name){
		     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		     var r = window.location.search.substr(1).match(reg);
		     if(r!=null)return  unescape(r[2]); return null;
		 }
	</script>
	</body>
</html>
