<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../csss/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../csss/htmleaf-demo.css">
		<link rel="stylesheet" href="../../csss/pages.css">
		<link rel="stylesheet" type="text/css" href="../../csss/th_td.css">
		<link rel="stylesheet" href="../../csss/input.css">
	</head>
	<body>
<center>
	<br /><br /><br /><br /><br /><br />
	<div id="queryCard">
	<input class="inputText4" type="text" id="Validate" name="Validate" v-model="fenYe.cardName" placeholder="请输入卡片名称"  />&nbsp;&nbsp;&nbsp;
	<a @click="queryAllCardTypeByLike()"><button class="button blue">搜索</button></a><br /><br />
		<a href="http://10.1.12.66:8086/client/html/gu/zengjiakapian.html"><button class="button blue">增加卡种</button></a><br><br>
		<table class="hovertable">
		<tr>
			<th>序号</th>
			<th>类型</th>
			<th>卡图</th>
			<th>卡名</th>
			<th>年费</th>
			<th>优惠1</th>
			<th>优惠2</th>
			<th>优惠3</th>
			<th>优惠4</th>
			<th>活动1</th>
			<th>活动2</th>
			<th>修改</th>
			<th>删除</th>
		</tr>
		<tr v-for="cardType in cardTypes" onmouseover="this.style.backgroundColor='#3875D7';" onmouseout="this.style.backgroundColor='#122B40';">
			<td>{{cardType.cardNum}}</td>
			<td>{{cardType.ctype}}</td>
			<td><img class="lazy" :src="cardType.cardPic"></td>
			<td>{{cardType.cardName}}</td>
			<td>{{cardType.cardannual}}</td>
			<td>{{cardType.anntationa1}}</td>
			<td>{{cardType.anntationa2}}</td>
			<td>{{cardType.anntationa3}}</td>
			<td>{{cardType.anntationa4}}</td>
			<td>{{cardType.activity1}}</td>
			<td>{{cardType.activity2}}</td>
			<td><a :href="'http://10.1.12.66:8086/client/html/gu/xiugaikapian.html?id='+cardType.id"  target="page"><button class="button blue">修改</button></a></td>
			<td><a @click="deleteCardTypeById(cardType.id)"  target="page"><button class="button blue">删除</button></a></td>
		</tr>
		</table>
		<button class="button blue" @click="queryAllCardTypeByLike(fenYe.page-1)">上一页</button>&nbsp;当前第{{fenYe.page}}页<button class="button blue" @click="queryAllCardTypeByLike(fenYe.page+1)">下一页</button>&nbsp;总共{{i}}页
		</div>
	<script type="text/javascript" src="../../jss/vuejs-2.5.16.js"></script>
	<script type="text/javascript" src="../../jss/axios-0.18.0.js"></script>
	<script type="text/javascript">
	new Vue({
		   el:"#queryCard",
		   data:{
			   i:'',
			   cardTypes:[
		     {
		      id:'',
		      cardNum:'',
		      ctype:'',
		      cardPic:'',
		      cardName:'',
		      cardannual:'',
		      anntationa1:'',
		      anntationa2:'',
		      anntationa3:'',
		      anntationa4:'',
		      activity1:'',
		      activity2:''
		     }
		    ],
		    fenYe:
		     {
		    	 page:1,
		    	 cardName:'',
		     }
		   },
		   methods:{
			   queryAllCardTypeByLike:function(event){
		     var _this=this;
		     if(event<=1){
		    	 this.fenYe.page=1;
		     }
		     if(event>1){
		    	 this.fenYe.page=event;
		     }
		     if(event>=this.i){
		    	 this.fenYe.page=this.i;
		     }
		     axios.post("http://10.1.12.66:8086/client/gu/queryAllCardTypeByLike",_this.fenYe)
		     .then(function(response){
		    	 if(_this.fenYe.page==1){
		    		   _this.i=response.data.i;
		    	   }
		    _this.cardTypes=response.data.cardTypes;
		      console.log(response);
		     })
		    },
		    deleteCardTypeById(id){
			   	var _this=this;
			   	var r = confirm("确定删除?")
				if (r == true) {
					axios.get("http://10.1.12.66:8086/client/gu/deleteCardTypeById",{params:{id:id}})
				     .then(function(response){
				      _this.cardTypes=response.data.cardTypes;
				      console.log(_this.cardTypes);
				      window.location.href='http://10.1.12.66:8086/client/html/gu/kapianzhonglei.html'
				     })
				} 
			    }
		   },
		   created:function(){
		    this.queryAllCardTypeByLike();
		   },
		 })
		function GetQueryString(name){
		     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		     var r = window.location.search.substr(1).match(reg);
		     if(r!=null)return  unescape(r[2]); return null;
		 }
	</script>
</center>
	</body>
</html>
