<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.front.CreditCardDao">
	<!-- 判断信用卡是不是本行信用卡 -->
	<select id="queryBankCardByNum" parameterType="creditCard" resultType="creditCardModel">
		select	id,card_num cardNum,card_type_id cardType,card_password carPassword,card_validity cardValidity,
			card_security_code cardSecurityCode,card_limit cardLimit,card_short_limit cardShortLimit,card_cash_limit cardCashLimit,
			card_state cardState,card_binding cardBinding,card_bankcard_id repayCard,card_client_id client,card_annual cardAnnual,
			card_balance cardBalance,card_bill_day cardBillday,card_refund_day cardRefundDay,card_point cardpoint,card_phone cardPhone,
			card_username userName,card_idcard IDcard,card_lastthree lastThree
			 from cc_credit_card where card_num=#{cardNum}
	</select>
	
	<!--修改已有信用卡绑定状态 -->
	<update id="updateCreditCardOnBinding" parameterType="creditCard">
		update cc_client_card set card_binding = #{cardBinding} where card_num=#{cardNum} and card_phone = #{cardPhone}
	</update>
	
	<!-- 增加绑定信用卡 -->
	<insert id="addCreditCard" parameterType="creditCardModel">
		insert into cc_client_card(card_num,card_type_id,card_password,card_validity,
						card_security_code,card_limit,card_short_limit,card_cash_limit,card_state,card_binding,
							card_bankcard_id,card_client_id,card_annual,card_balance,card_bill_day,card_refund_day,card_point,card_phone
								) values(
						#{cardNum},#{cardType},#{carPassword},#{cardValidity},#{cardSecurityCode},#{cardLimit},#{cardShortLimit},
						#{cardCashLimit},#{cardState},#{cardBinding},#{repayCard},#{client},#{cardAnnual},#{cardBalance},#{cardBillday},
						#{cardRefundDay},#{cardpoint},#{cardPhone}
								)
	</insert>
	<!-- 校验预留的信用卡手机号码 -->
	<select id="quertCardPhone" parameterType="creditCard" resultType="creditCard">
		select card_phone cardPhone from cc_credit_card where card_phone=#{cardPhone}
	</select>	
	<!-- 查找信用卡byId -->
	<select id="queryCardByid" parameterType="int" resultType="creditCard">
		select	id,card_num cardNum,card_type_id cardType,card_password carPassword,card_validity cardValidity,
			card_security_code cardSecurityCode,card_limit cardLimit,card_short_limit cardShortLimit,card_cash_limit cardCashLimit,
			card_state cardState,card_binding cardBinding,card_bankcard_id repayCard,card_client_id client,card_annual cardAnnual,
			card_balance cardBalance,card_bill_day cardBillday,card_refund_day cardRefundDay,card_point cardpoint,card_phone cardPhone
			 from cc_credit_card where id=#{id}
	</select>
</mapper>