<!DOCTYPE html>
<html lang="zh-cn">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate">
<title>设置管理-通用设置</title>
<link rel="shortcut icon"
	href="https://creditcard.ecitic.com/citiccard/ebankpc/logo.ico">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/dialog.css">
<link href="css/settingManage.7e62b685.css" rel="stylesheet">
</head>

<body>
<div id="update">
	<div class="header">
		<div class="content">
			<a href="http://creditcard.ecitic.com/" title="CCMS信用卡中心官网"
				target="_blank" class="logo-area"> <img src="img/logo白色.png">
			</a>
			<div class="menu-area">
				<span>欢迎您，<strong id="userName">{{name}}</strong></span> <span
					class="line">|</span> <img class="online-server"
					id="online-server-img" src="img/kf.gif" alt="在线客服"> <span
					class="line">|</span> <img class="security-logout" src="img/gb.gif"
					alt="安全退出" id="logout">
			</div>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li class="yahei" id="yahei01"><a href="loginIndex.html"
				class="wdzh" target="_self">我的账户</a></li>
			<li class="yahei" id="yahei02"><a href="bill.html" class="zdcx"
				target="_self">账单查询</a></li>
			<li class="yahei" id="yahei03"><a href="repay.html"
				class="xykhk" target="_self">信用卡还款</a></li>
			<li class="yahei" id="yahei04"><a href="aging.html" class="fqyw"
				target="_self">分期业务</a></li>
			<li class="yahei" id="yahei07"><a href="http://10.1.12.66:8086/cardmanger/creditCardManager.html"
				class="szgl" target="_self">设置管理</a></li>
		</ul>
	</div>

	<div class="main_top">
		<img style="padding-left: 793px; margin-top: -7px" src="img/jt.gif">
	</div>
	<div class="main" id="mainSettingManage">
		<div class="sub_menu">
			<a class="hover" href="device.html" target="_self">基本信息</a>
			<a href="http://10.1.12.66:8086/cardmanger/creditCardManager.html" target="_self">信用卡管理</a>
		</div>
		<div class="password_reset" id="passwordSet" style="">
			<div class="title password_set_title">修改交易密码</div>
			<div class="password_set_content">
			<div v-for="(ccs,index) in showCard">
				<div class="password_set_card" id="passwordSetCard">
					<div class="card_content" style="float: left">
						<div class="card_sub_content" style="background:#336699;">
							<p class="card_desc" style="height: 34px;">{{ccs.cardType}}</p>
							<p class="card_tail">{{ccs.cardNum}}</p>
							<p style="border: 1px solid #FFFFFF;
								width: 50px; height: 23px; text-align: center;
								margin-left: 21px;">{{ccs.cardState}}
							</p>
							<p class="card_logo"><img src="img/yinlian.gif" width="75" height="44"></p>
						</div>
						<p class="select_card" style="display: block;"></p>
					</div>
				</div>
			</div>
				<div id="updatePassword">
					<span class="xing">*</span>原交易密码<br />
						<input class="pad" type="password" name="oldCarPassword"
							v-model="Password.oldCarPassword" id="oldCarPassword"
							maxlength="6" placeholder="6位数字的密码" @blur="blur1"/>
							<span class="spa">{{a}}</span>
							<span v-text="msgs.msg1" class="spa spa4"></span>
					<br />
					<span class="xing">*</span>新交易密码<br />
						<input class="pad" type="password" name="newCarPassword" maxlength="6" @blur="blur2"
							v-model="Password.newCarPassword" id="newCarPassword" placeholder="6位数字的密码" />
							<span class="spa">{{b}}</span>
							<span v-text="msgs.msg2" class="spa spa1"></span>
					<br />
					<span class="xing">*</span>确定新交易密码<br />
						<input class="pad" type="password" name="confirmNewCarPassword" maxlength="6"
							v-model="Password.confirmNewCarPassword" id="confirmNewCarPassword"
							placeholder="6位数字的密码" @blur="blur3" />
							<span class="spa">{{c}}</span>
							<span v-text="msgs.msg3" class="spa spa2"></span>
					<br />
					<span class="xing">*</span>手机号码<br />
						<input class="pad" type="text" name="cardPhone" maxlength="11" @blur="blur4"
							v-model="Password.cardPhone"  id="cardPhone" placeholder="11位数字的手机号码"/>
							<span class="spa">{{d}}</span>
							<span v-text="msgs.msg4" class="spa spa3"></span>
					<br />
					<span class="xing">*</span>验证码<br />
						<input class="pad" style="width: 70px;" type="text" name="code" maxlength="6" placeholder="6位数验证码" />
					<button style="margin-top: -5px; width: 77px;"
						type="button" id="but"
						class="btn btn-danger btn-sm">&nbsp;免费获取&nbsp;
					</button>
					<div class="password_set_btn">
						<button type="submit" id="but" class="btn btn-danger btn-sm"
						@click="updateCreditCardPassword()">
							&nbsp;&nbsp;&nbsp;&nbsp;确定修改&nbsp;&nbsp;&nbsp;&nbsp;
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" style="margin-top: 260px;">
		<ul class="footer_list">
			<li class="footer_cr">
				<p>CCSM信用卡股份有限公司授权所有Copyright 2002-2019 CITIC BANK ALL rights
					reserved</p>
				<p>京公网安备11010502020433号 京ICP证 030779-1号</p>
			</li>
			<li class="footer_line">
				<p class="tip">24小时客服热线</p>
				<p class="number">40088 - 95558</p>
			</li>
			<li class="footer_client" id="footer_client"><a><img
					id="my_footer" src="img/kf_icon.png" alt="客服"></a>
				<p>在线客服</p></li>
		</ul>
	</div>
</div>
	<script src="js/settingManage.7e62b685.js"></script>
	<script type="text/javascript"
		src="js/dll.vendors.47a4bc191c19df35baf4.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
	<script type="text/javascript" src="js/axios-0.18.0.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
	<script type="text/javascript" src="js/dialog.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		new Vue({
            el:'#update',
            data:{
            	Password:{
            		id:'',
            		oldCarPassword:'',
            		newCarPassword:'',
            		confirmNewCarPassword:'',
            		cardPhone:''
                },
                showCard:[],
                name:'',
                a:'',
				b:'',
				c:'',
				d:'',
				name: "@blur_61",
				msgs:{}
            },
            methods:{
            	selectCreditCardById :function() {
            		var _this = this;
            		var id= GetQueryString("id")
					axios.get("http://10.1.12.66:8086/cardmanger/selectCreditCardById",{params:{id:id}})
						.then(function(response) {
						_this.name=response.data.name;
						_this.showCard = response.data.scs;
						console.log(response);
					})
            	},
				blur1(){
            		var _this = this;
            		var mima=/^\d{6}$/;
            		if(_this.Password.oldCarPassword==""){
            			this.a="*原交易密码不能为空！";
            			return false
            		}
            		if(!mima.test(_this.Password.oldCarPassword)){
            			this.a="*原交易密码格式错误！";
            			return false
            		}
            		if(_this.Password.oldCarPassword!=""){
            			this.a="";
            		}
            		if(mima.test(_this.Password.oldCarPassword)){
            			this.a="";
            		}
                  },
                  blur2(){
                	var _this = this;
              		var mima=/^\d{6}$/;
                 	if(_this.Password.newCarPassword==""){
              			this.b="*新交易密码不能为空！";
              			return false
              		}
              		if(!mima.test(_this.Password.newCarPassword)){
              			this.b="*新交易密码格式错误！";
              			return false
              		}
              		if(_this.Password.newCarPassword!=""){
              			this.b="";
              		}
              		if(mima.test(_this.Password.newCarPassword)){
              			this.b="";
              		}
                  },
				blur3(){
                	var _this = this;
              		var mima=/^\d{6}$/;
                	if(_this.Password.confirmNewCarPassword==""){
              			this.c="*确定新交易密码不能为空！";
              			return false
              		}
              		if(_this.Password.confirmNewCarPassword!=_this.Password.newCarPassword){
              			this.c="*新交易密码与确定新交易密码不一致！";
              			return false
              		}
              		if(_this.Password.confirmNewCarPassword!=""){
              			this.c="";
              		}
              		if(_this.Password.confirmNewCarPassword==_this.Password.newCarPassword){
              			this.c="";
              		}          	  
				  },
				blur4(){
				  var _this = this;
        		  var tex=/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
				  if(_this.Password.cardPhone==""){
            			this.d="*手机号码不能为空！";
            			return false
            		}
            		if(!tex.test(_this.Password.cardPhone)){
            			this.d="*手机号码格式错误！";
            			return false
            		}
            		if(_this.Password.cardPhone!=""){
            			this.d="";
            		}
            		if(tex.test(_this.Password.cardPhone)){
            			this.d="";
            		}  
                  },
            	updateCreditCardPassword(){
            		var _this=this;
            		if(_this.Password.oldCarPassword=="" ||
            				_this.Password.newCarPassword=="" ||
            				_this.Password.confirmNewCarPassword=="" ||
            				_this.Password.cardPhone==""){
            			if(_this.Password.oldCarPassword==""){
                			this.a="*原交易密码不能为空！";
                		}
            			if(_this.Password.newCarPassword==""){
                  			this.b="*新交易密码不能为空！";
                  		}
            			if(_this.Password.confirmNewCarPassword==""){
                  			this.c="*确定新交易密码不能为空！";
                  		}
            			if(_this.Password.cardPhone==""){
                			this.d="*手机号码不能为空！";
                		}
            			alert("请先填写完信息，再提交！")
            		}else{
						axios.post('http://10.1.12.66:8086/cardmanger/updateCreditCardPassword',_this.Password)
				       .then(res=>{
				    	    console.log(res.data)
				    	    this.msgs=res.data
				    	    if(this.msgs.no==400){
				    	    	alert("交易密码修改失败！该信用卡未设置交易密码！")
				    	    	document.location="http://10.1.12.66:8086/cardmanger/creditCardManager.html";
				    	    }
				    	    if(this.msgs.ok==200){
				    	    	alert("交易密码修改成功！")
				    	    	document.location="http://10.1.12.66:8086/cardmanger/creditCardManager.html";
				    	    }
				    	})
                      .catch(function (error) {
							console.log(error);
						})
					}
                }
            },
            created:function(){
            	this.selectCreditCardById();
            	this.Password.id = localStorage.getItem("cid");
            	console.log(this.Password.id)
            },
        });
		function GetQueryString(name){
		     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		     var r = window.location.search.substr(1).match(reg);
		     if(r!=null)return  unescape(r[2]); return null;
		}
	</script>
</body>

</html>