<!DOCTYPE html>
<html lang="zh-cn">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate">
<title>设置管理-通用设置</title>
<link rel="shortcut icon"
	href="https://creditcard.ecitic.com/citiccard/ebankpc/logo.ico">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/settingManage.7e62b685.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="header">
		<div class="content">
			<a href="http://creditcard.ecitic.com/" title="中信银行信用卡中心官网"
				target="_blank" class="logo-area"> <img src="img/logo白色.png">
			</a>
			<div class="menu-area">
				<span>欢迎您，<strong id="userName">***</strong></span> <span
					class="line">|</span> <img class="online-server"
					id="online-server-img" src="img/kf.gif" alt="在线客服"> <span
					class="line">|</span> <img class="security-logout" src="img/gb.gif"
					alt="安全退出" id="logout">
			</div>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li class="yahei" id="yahei01"><a href="loginIndex.html"
				class="wdzh" target="_self">我的账户</a></li>
			<li class="yahei" id="yahei02"><a href="bill.html" class="zdcx"
				target="_self">账单查询</a></li>
			<li class="yahei" id="yahei03"><a href="repay.html"
				class="xykhk" target="_self">信用卡还款</a></li>
			<li class="yahei" id="yahei04"><a href="aging.html" class="fqyw"
				target="_self">分期业务</a></li>
			<li class="yahei" id="yahei07"><a href="device.html"
				class="szgl" target="_self">设置管理</a></li>
		</ul>
	</div>

	<div class="main_top">
		<img style="padding-left: 793px; margin-top: -7px" src="img/jt.gif">
	</div>
	<div class="main" id="mainSettingManage">
		<div class="sub_menu">
			<a href="creditCardManager.html" target="_self">信用卡管理</a>
		</div>
		<div class="base_setting" id="baseSetting" style="display: block">
			<div class="title card_setting_title">信用卡管理</div>
			<div class="card_setting_content">
				<div class="card_list"
					style="overflow: hidden; zoom: 1; width: 3276px; height: 140px">
					<div class="scroll_right" id="rightArrow" style="display: none">
						<img src="" width="15" height="22">
					</div>
					<div class="scroll_left" id="leftArrow" style="display: none">
						<img src="" width="15" height="22">
					</div>
					<div id="selectAll">
						<div v-for="(ccs,index) in creditCards">
							<div
								style="float: left; width: 290px; height: 135px; overflow: hidden; margin-right: 30px;">
								<div v-on:click="addClass(index),choseId(ccs.id)"
									v-bind:class="{blue:index==current}" class="sx_child"
									style="overflow: hidden;">
									<div id="selectAll" style="float: left;">
										<div class="card_content" style="float: left">
											<div class="card_sub_content" style="background: #336699;">
												<p class="card_desc" style="height: 34px;">{{ccs.cardType}}</p>
												<p class="card_tail">{{ccs.cardNum}}</p>
												<p style="border: 1px solid #FFFFFF;
													width: 50px; height: 23px; text-align: center;
													margin-left: 21px;">{{ccs.cardState}}
												</p>
												<p class="card_logo">
													<img src="img/yinlian.gif" width="75" height="44">
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p>
						</div>
					</div>
				</div>
				<div class="split_line" style="margin-bottom: 10px;"></div>
				<div id="selectById">
					<ul>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">信用卡激活</span> <br />想要信用卡正常使用，就必须先激活信用卡。&nbsp;|
								<span class="ico_edit"><a style="cursor: pointer" href="javaScript:;" v-on:click="jihuo()">激活</a></span>
							</div>
						</li>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">交易密码</span> <br />交易密码被用于信用卡的查询、取现、刷卡消费的过程中，是系统对持卡人身份进行识别的一种手段。&nbsp;|
								<span class="ico_edit"> <a style="cursor: pointer" href="javaScript:;" v-on:click="shezhi()">设置</a> &nbsp;&nbsp; 
								<a style="cursor: pointer" href="javaScript:;" v-on:click="xiugai()">修改</a>
								</span>
							</div>
						</li>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">挂失、解挂</span> <br />信用卡丢失可以临时挂失和永久挂失，临时挂失可以解除挂失，而永久挂失则不能解除挂失。&nbsp;|
								<span class="ico_edit"> <a style="cursor: pointer" href="javaScript:;" v-on:click="guashi()">挂失</a>&nbsp;&nbsp;
									<a style="cursor: pointer" href="javaScript:;" v-on:click="jiegua()">解挂</a>
								</span>
							</div>
						</li>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">信用卡注销</span> <br />提交信用卡销卡申请后到正式生效前，持卡人不要再使用信用卡；正式注销之后沿信用卡磁条剪断后丢弃，防止被盗刷。&nbsp;|
								<span class="ico_edit">
									<a style="cursor: pointer" href="javaScript:;" v-on:click="xiaoka()">销卡</a>
								</span>
							</div>
						</li>
						<li>
							<div class="split_line" style="margin-bottom: 10px; margin-top: 50px;"></div>
						</li>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">修改登录密码</span> <br />在这里修改你的登录密码。&nbsp;|
								<span class="ico_edit">
									<a style="cursor: pointer" data-toggle="modal" data-target="#chagePassword">修改</a>
								</span>
								<!-- 修改密码模态框 -->
								<div class="modal fade" id="chagePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
												</button>
												<h4 class="modal-title" id="myModalLabel">
													修改登录密码
												</h4>
											</div>
											<div class="modal-body">
												<div class="input-group">
										            <span >原密码:</span>
										            <input type="password" class="form-control" style="float: left;" v-model="oldpsd">
										        </div>
										        <div class="input-group">
										            <span >新密码:</span>
										            <input type="password" class="form-control" style="float: left;" v-model="newpsd">
										        </div>
										        <div class="input-group">
										            <span >确认新密码:</span>
										            <input type="password" class="form-control" style="float: left;" v-model="querypsd">
										        </div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													关闭
												</button>
												<button type="button" class="btn btn-primary" @click="chage" >
													提交更改
												</button>
											</div>
										</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
							</div>
						</li>
						<li>
							<div class="sub_content personal_info">
								<span class="sub_title">更换手机号码</span> <br />提交新手机号，更换登录手机号。&nbsp;|
								<span class="ico_edit">
									<a style="cursor: pointer" data-toggle="modal" data-target="#chagePgone">更换</a>
								</span>
								<!-- 更换手机号模态框 -->
								<div class="modal fade" id="chagePgone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
												</button>
												<h4 class="modal-title" id="myModalLabel">
													更换手机号
												</h4>
											</div>
											<div class="modal-body">
												<div class="input-group">
										            <span >原手机号:</span>
										            <input v-model="oldphone" type="text" class="form-control" style="float: left;">
										        </div>
										        <div class="input-group">
										            <span >新手机号:</span>
										            <input v-model="newphone" type="text" class="form-control" style="float: left;">
										        </div>
										         <span v-model="code" id="sms_code_text">短信验证码</span>
				                                 <div class="input-group">
										             <input type="text" v-model="code" placeholder="6位数字验证码" id="valicode" maxlength="6" style="width:53%;height:36px;text-indent: 14px;margin-right: 20px;">
													<button class="btn btn-primary btn-sm" @click="callMsg" v-bind:disabled="!stop">
													    <span v-if="stop">获取验证码</span>
													    <span v-else>{{timer}}秒后重试</span>
													</button>
										        </div>
										        <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													关闭
												</button>
												<button @click="chagePhone" type="button" class="btn btn-primary">
													提交更改
												</button>
											</div>      
											</div><!-- /.modal-content -->
									</div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" id="footer_a">
		<ul class="footer_list">
			<li class="footer_cr">
				<p>CCMS信用卡股份有限公司授权所有Copyright 2002-2019 CITIC BANK ALL rights
					reserved</p>
				<p>京公网安备11010502020433号 京ICP证 030779-1号</p>
			</li>
			<li class="footer_line">
				<p class="tip">24小时客服热线</p>
				<p class="number">40088 - 95558</p>
			</li>
			<li class="footer_client" id="footer_client"><a><img
					id="my_footer" src="img/kf_icon.png" alt="客服"></a>
				<p>在线客服</p></li>
		</ul>
	</div>
	<script src="js/dll.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vuejs-2.5.16.js"></script>
	<script type="text/javascript" src="js/axios-0.18.0.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
	<script type="text/javascript" src="js/settingManage.7e62b685.js"></script>
	<script type="text/javascript" src="js/shanxuan.js"></script>
	<script type="text/javascript">
		new Vue({
			el : "#mainSettingManage",
			data : {
				cid : '',
				current : 0,
				creditCards : [ {
					id : '',
					cardType : '',
					cardNum : '',
					cardState:''
				} ],
				oldpsd:'',
				newpsd:'',
				querypsd:'',
				oldphone:'',
				newphone:'',
				timer:60,
		        stop:true,
		        Interval:null,
				code:'',
				scode:'',
			},
			methods : {
				selectAllCreditCard : function() {
					var _this = this;
					axios.get("http://localhost:8083/selectAllCreditCard")
							.then(function(response) {
								_this.creditCards = response.data.creditCards;
								_this.cid = _this.creditCards[0].id
								console.log(response);
							})
				},
				addClass : function(index) {
					this.current = index;
				},
				choseId : function(cid) {
					this.cid = cid;
				},
				jihuo: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="openCreditCard.html?id="+this.cid;
				},
				shezhi: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="setTransactionPassword.html?id="+this.cid;
				},
				xiugai: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="upadteTransactionPassword.html?id="+this.cid;
				},
				guashi: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="unhangCreditCard.html?id="+this.cid;
				},
				jiegua: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="lostCreditCards.html?id="+this.cid;
				},
				xiaoka: function(){
					localStorage.setItem("cid",this.cid)
					window.location.href="cancelCreditCard.html?id="+this.cid;
				},
				//修改密码
				chage:function(){
					var _this=this;
					if(this.newpsd==this.querypsd){
						axios.get('http://10.1.12.66:8082/client/updatePsd',{params:{oldpsd:_this.oldpsd,newpsd:_this.newpsd}})
						.then(function(response){
							if(response.data.flag){
								alert("修改成功");
								window.location.href='creditCardManager.html';
							}else{
								alert(response.data.mess);
								
							}
						})
					}
				},
				//修改手机号
				chagePhone:function(){
					var _this=this;
					if(this.oldphone!=""){
						if(this.newphone!=""){
							if(this.code=this.scode){
								axios.get("/client/updateClientPhone",{params:{oldPhone:_this.oldphone,newPhone:_this.newphone}})
								.then(function(response){
									if(response.data.flag){
										alert("更换号码成功");
										window.location.href='creditCardManager.html';
									}else{
										alert(response.data.mess);
									}
									
								})	
							}else{
								alert("验证码不正确");
							}
							
						}
					}
				},
				//发送短信及验证码
				update () {
		            if(this.timer <= 0)
		            {
		                this.stop = !this.stop;
		                clearInterval(this.Interval);
		                this.timer=60;
		            }
		            else{
		                this.timer--;
		            }
		        },
		        startTimer :function() {
		            this.Interval = setInterval(this.update, 1000);
		            console.log(this.Interval);
		        },
				callMsg:function(){
					var _this=this;
					axios.post("/client/checkphone",_this.oldphone)
					.then(function(response){
						if(response.data.flag==true){
							_this.stop=!this.stop;
		                    _this.startTimer();
		                    _this.scode=response.data.scode;
		                    alert(response.data.scode);
						}
					})
				},
			},
			created : function() {
				this.selectAllCreditCard();
			},
		})
	</script>

</body>
</html>